<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>bfci.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>849A3E071FAF8AE5001EE3D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>849A3E1B1FAF8AE5001EE3D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>849A3E261FAF8AE5001EE3D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
